<!-- Content
================================================== -->
<div class="container">
  <div class="row">
  
    <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
    </div>
    
    <!-- Carousel -->
    <div class="col-md-12">
      <div class="carousel">

        <!-- Listing Item -->
        <% @avocados.each do |avocado| %>
          <div class="carousel-item">
          <div class="listing-item">

            <a href="#" class="listing-img-container">

              <div class="listing-badges">
                <span class="featured">Great Deal</span>
                <span><big><%="Organic" if avocado.organic %> <%=avocado.category%></big></span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price"><%= number_to_currency(avocado.price)%> <i>each!</i></span>
              </div>

              <div class="listing-carousel">
                <div><img src="images/avocado-3.jpg" alt=""></div>
                <div><img src="images/avocado-3.jpg" alt="" height="150"></div>
                <div><img src="images/avocado-3>.jpg" alt="" height="150"></div>
              </div>

            </a>
            
            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="/avocado/<%=avocado.id%>"><%=avocado.location.name%></a></h4>
                <a href="http://maps.google.com/?q=<%=avocado.location.lat%>,<%=avocado.location.lng%>" class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  <%=avocado.location.address%>
                </a>
              </div>

              <ul class="listing-features">
                <li>Notes: <span><%=avocado.notes%></span></li>
              </ul>

              <div class="listing-footer">
                <a href="/?sort=<%=avocado.user.id%>"><i class="fa fa-user"></i><%=avocado.user.name%></a>
                <span><i class="fa fa-calendar-o"></i><%=time_ago_in_words(avocado.created_at)%></span>
              </div>

            </div>

          </div>
        </div>
        <% end %>
        <!-- Listing Item / End -->




      </div>
    </div>
    <!-- Carousel / End -->

  </div>
</div>





