<!-- Content
================================================== -->
<div class="container">
  <div class="row">
      <div class="col-md-12"><br>
      <h3 class="headline centered margin-bottom-35 margin-top-10">Newly Added</h3>
    </div>
        <!-- Carousel -->
    <div class="col-md-12">
      <div class="carousel">
        <!-- Listing Item -->
        <% @avocados.each do |avocado| %>
          <div class="carousel-item">
          <div class="listing-item">
            <a href="#" class="listing-img-container">
              <div class="listing-badges">
                <span class="featured">Great Deal</span>
                <span><big><%="Organic" if avocado.organic %> <%=avocado.category%></big></span>
              </div>
              <div class="listing-img-content">
                <span class="listing-price"><%= number_to_currency(avocado.price)%> <i>each!</i></span>
              </div>
              <div class="listing-carousel">
                <div><img src="images/<%=avocado.image_math(avocado.ripeness)%>.jpg" alt=""></div>
              </div>
            </a>
           <div class="listing-content">
            <div class="listing-title">
            <h4><a href="/avocados/show_all/1?filter=<%=avocado.location_id%>&filter_by=location_id"><%=avocado.location.name%></a></h4>
                <a href="http://maps.google.com/?q=<%=avocado.location.lat%>,<%=avocado.location.lng%>" class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  <%=avocado.location.address%>
                </a>
              </div>
              <div class="listing-footer">
                <a href="/avocados/show_all/1?filter=<%=avocado.user.id%>&filter_by=user_id"><i class="fa fa-user"></i><%=avocado.user.name%></a>
                <span><i class="fa fa-calendar-o"></i><%=time_ago_in_words(avocado.spotted) if avocado.spotted%></span>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <!-- Listing Item / End -->

    <!-- Carousel / End -->
  </div>
</div>
<!-- Fullwidth Section -->
<!-- Container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Places <span>Avocados In Most Popular Places</span></h3>
    </div>
        <div class="col-md-4">
      <!-- Image Box -->
      <a href="/avocados/show_all/1?filter=112&filter_by=location_id" class="img-box" data-background-image="images/mariano.jpg">
        <!-- Badge -->
        <div class="listing-badges">
          <span class="featured">Featured</span>
        </div>
        <div class="img-box-content visible">
          <h4>Mariano's</h4>
          <span><%=@avocados.where("location_id = ?", 112).size %> Entries</span>
        </div>
      </a>
    </div>  
          <div class="col-md-8">
      <!-- Image Box -->
      <a href="/avocados/show_all/1?filter=92&filter_by=location_id" class="img-box" data-background-image="images/cermak.jpg">
        <div class="img-box-content visible">
          <h4>Cermak Produce</h4>
          <span><%=@avocados.where("location_id = ?", 92).size %> Entries</span>
        </div>
      </a>
    </div>  
    
</div></div>
  </div>
</div>
<!-- Container / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-95 margin-bottom-0">

  <!-- Box Headline -->
  <h3 class="headline-box">Articles & Tips</h3>

  <div class="container">
    <div class="row">

      <div class="col-md-4">

        <!-- Blog Post -->
        <div class="blog-post">
          
          <!-- Img -->
          <a href="<%= @news['value'][3]['url'] %>" class="post-img" target="blank">
            <img src="<%= @news['value'][3]['image']['thumbnail']['contentUrl'] %>" alt="">
          </a>               
          <!-- Content -->
          <div class="post-content">
            <h3><a href="<%= @news['value'][3]['url'] %>" target="blank"><%= @news['value'][0]['name'] %></a></h3>
            <p><%= @news['value'][3]['description'] %>...</p>
            <a href="<%= @news['value'][3]['url'] %>" class="read-more" target="blank">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
      <div class="col-md-4">
        <!-- Blog Post -->
        <div class="blog-post">
          
          <!-- Img -->
          <a href="<%= @news['value'][1]['url'] %>" class="post-img" target="blank">
            <img src="<%= @news['value'][1]['image']['thumbnail']['contentUrl'] %>" alt="">
          </a>
          
          <!-- Content -->
          <div class="post-content">
            <h3><a href="<%= @news['value'][1]['url'] %>" target="blank"><%= @news['value'][1]['name'] %></a></h3>
            <p><%= @news['value'][1]['description'] %>...</p>

            <a href="<%= @news['value'][1]['url'] %>" class="read-more" target="blank">Read More <i class="fa fa-angle-right"></i></a>
          </div>

        </div>
        <!-- Blog Post / End -->

      </div>

      <div class="col-md-4">

        <!-- Blog Post -->
        <div class="blog-post">
          
          <!-- Img -->
          <a href="<%= @news['value'][2]['url'] %>" class="post-img" target="blank">
            <img src="<%= @news['value'][2]['image']['thumbnail']['contentUrl'] %>" alt="">
          </a>
          <!-- Content -->
          <div class="post-content">
            <h3><a href="<%= @news['value'][2]['url'] %>" target="blank"><%= @news['value'][2]['name'] %></a></h3>
            <p><%= @news['value'][2]['description'] %>...</p>
            <a href="<%= @news['value'][2]['url'] %>" class="read-more" target="blank">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <!-- Blog Post / End -->
      </div>
    </div>
  </div>
</section>
<!-- Fullwidth Section / End -->
<!-- Flip banner -->
<a href="/avocados/show_all/1" class="flip-banner parallax" data-color="#00BA75" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
  <div class="flip-banner-content">
    <h2 class="flip-visible">Helping people and avocados find each other</h2>
    <h2 class="flip-hidden">Browse Avocados <i class="sl sl-icon-arrow-right"></i></h2>
  </div>
</a>
</div>
</div>
<!-- Flip banner / End -->

<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="scripts/rangeSlider.js"></script>
<script type="text/javascript" src="scripts/sticky-kit.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/masonry.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>