<div class="container">
  <div class="row">
      <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65"></h3>
    </div>
  <!-- Content
================================================== -->
<div class="container">
  <div class="row fullwidth-layout">

    <div class="col-md-12">

      <!-- Sorting / Layout Switcher -->
      <div class="row margin-bottom-15">

        <div class="col-md-6">
          <!-- Sort by -->
          <div class="sort-by">

            <div class="sort-by-select">
              <select data-placeholder="Most Recently Added" class="chosen-select-no-single" onchange="location = this.value;"> 
                <option selected>Sort By...</option>
                <option value="/avocados/show_all/1">Most Recently Added</option> 
                <option value="/avocados/show_all/1?filter=0&filter_by=unit_price">Best Value (by price per Oz.)</option>
                <option value="/avocados/show_all/1?filter=desc&filter_by=ripeness">Ripeness (Most Ripe)</option>
                <option value="/avocados/show_all/1?filter=asc&filter_by=ripeness">Ripeness (Most Green)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="layout-switcher">
          </div>
        </div>
      </div>

      
      <!-- Listings -->
      <div class="listings-container list-layout">
        <% @avocados.each do |avocado| %>
       <!-- Listing Item -->
        <div class="listing-item">

          <a href="#" class="listing-img-container">

            <div class="listing-badges">
            <span <%= "class=featured" if avocado.unit_price.to_f < 0.25 %>>
              <%= "Great Deal" if avocado.unit_price.to_f < 0.25 %>
              </span>
              <span><big><%="Organic" if avocado.organic %> <%=avocado.category%></big></span>
            </div>

            <div class="listing-img-content">
              <span class="listing-price"><%= number_to_currency(avocado.price)%> <i>each!</i></span>
            </div>

            <img src="/images/avocado-3.jpg" alt="">
          </a>
          
          <div class="listing-content">

            <div class="listing-title">
              <h4><a href="1?filter=<%=avocado.location_id%>&filter_by=location_id"><%=avocado.location.name%></a></h4>
               <a href="http://maps.google.com/?q=<%=avocado.location.lat%>,<%=avocado.location.lng%>" target="blank">
                <i class="fa fa-map-marker"></i>
                <%=avocado.location.address%>
              </a>
              <a href="#" class="details button border"><%=avocado.unit_price%></a>
            </div>
            <ul class="listing-details">
              <li><font color="red"><%="This avocado may be spoiled or information no longer relevant" if avocado.spoiled_on < Time.now%></font>  <%=avocado.notes%></li>
            </ul>
            <div class="listing-footer">
                <a href="1?filter=<%=avocado.user.id%>&filter_by=user_id"><i class="fa fa-user"></i><%=avocado.user.name%></a>
                <span><i class="fa fa-calendar-o"></i><%=time_ago_in_words(avocado.spotted) if avocado.spotted%></span>
            </div>
          </div>
       </div>
        <!-- Listing Item / End -->
    <%end%>

      </div>
      <!-- Listings Container / End -->

      <div class="clearfix"></div>
      <!-- Pagination -->
      <div class="pagination-container margin-top-20">

        <%= render partial: "pagination_1" %>

      </div>
      <!-- Pagination / End -->

    </div>

  </div>
</div>
</div>
</div>
