<h1>Avo ID: <%= @avocado.id %> </h1>
<p>
<div>
Added by User: <%=@avocado.user_id%><br>
Can be found at: <%=@avocado.location_id%><br>
Type: <%=@avocado.type%><br>
Price: <%=@avocado.price%> each<br>
Ripeness: <%=@avocado.ripeness%><br>
It will spoil on <%=@avocado.spoiled_on%><br>
Notes: <%=@avocado.notes%>