<h1>Avo ID: <%= @avocado.id %> </h1>
<div>
  Added by User: <%=@avocado.user.name%><br>
  Can be found at: <%=@avocado.location_id%><br>
  Type: <%=@avocado.category%><br>
  Organic: <%= @avocado.organic %><br>
  Price: <%= number_to_currency(@avocado.price)%> each<br>
  Ripeness: <%=@avocado.ripeness%><br>
  It will spoil on <%=@avocado.spoiled_on%><br>
  Notes: <%=@avocado.notes%>
</div>
<br>
<a href="/">Back to Avo List</a>