<div class="container">
  <div class="row">
  
    <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">Avo ID: <%= @avocado.id %> </h3>
    </div>
    <div>
      Added by User: <%=@avocado.user.name + " on " + @avocado.spotted.to_s %><br>
      Can be found at: <%=@avocado.location.name%><br>
      Type: <%= @avocado.category %><br>
      Organic: <%= @avocado.organic %><br>
      Price: <%= number_to_currency(@avocado.price)%> each<br>
      Unit Price: <%= number_to_currency(@avocado.unit_price)%> per ounce<br>      
      Ripeness: <%=@avocado.ripeness%><br>
      Spoil On <%=@avocado.spoiled_on%>
      Notes: <%=@avocado.notes%><hr>
    </div>
<br>
<a href="/">Back to Avo List</a>
</div>
</div>
