<div class="container">
  <div class="row">
      <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">All Avos</h3>
    </div>
  <!-- Content
================================================== -->
<div class="container">
  <div class="row fullwidth-layout">

    <div class="col-md-12">

      <!-- Sorting / Layout Switcher -->
      <div class="row margin-bottom-15">

        <div class="col-md-6">
          <!-- Sort by -->
          <div class="sort-by">

            <div class="sort-by-select">
              <select data-placeholder="Most Recently Added" class="chosen-select-no-single" > 
                <option>Most Recently Added</option> 
                <option>Price Low to High (by price per Oz.)</option>
                <option>Price High to Low (by price per Oz.)</option>
                <option>Ripeness (Most Ripe)</option>
                <option>Ripeness (Most Green)</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="layout-switcher">
          </div>
        </div>
      </div>

      
      <!-- Listings -->
      <div class="listings-container list-layout">
        <% @avocados.each do |avocado| %>
       <!-- Listing Item -->
        <div class="listing-item">

          <a href="#" class="listing-img-container">

            <div class="listing-badges">
              <span class="featured">Great Deal</span>
              <span><big><%="Organic" if avocado.organic %> <%=avocado.category%></big></span>
            </div>

            <div class="listing-img-content">
              <span class="listing-price"><%= number_to_currency(avocado.price)%> <i>each!</i></span>
            </div>

            <img src="/images/avocado-3.jpg" alt="">
          </a>
          
          <div class="listing-content">

            <div class="listing-title">
              <h4><a href="?filter=<%=avocado.location_id%>&filter_by=location"><%=avocado.location.name%></a></h4>
               <a href="http://maps.google.com/?q=<%=avocado.location.lat%>,<%=avocado.location.lng%>" target="blank">
                <i class="fa fa-map-marker"></i>
                <%=avocado.location.address%>
              </a>

              <a href="#" class="details button border">Button</a>
            </div>

            <ul class="listing-details">
              <li>Notes: <%=avocado.notes%></li>
            </ul>

            <div class="listing-footer">
                <a href="?filter=<%=avocado.user.id%>&filter_by=user"><i class="fa fa-user"></i><%=avocado.user.name%></a>
                <span><i class="fa fa-calendar-o"></i><%=time_ago_in_words(avocado.created_at)%></span>
            </div>

          </div>

        </div>
        <!-- Listing Item / End -->
    <%end%>

      </div>
      <!-- Listings Container / End -->

      <div class="clearfix"></div>
      <!-- Pagination -->
      <div class="pagination-container margin-top-20">
        <nav class="pagination">
          <ul>
            <li><a href="/avocados/show_all/<%=params[:page]%>" class="current-page"><%=params[:page]%></a></li>
            <li><a href="/avocados/show_all/<%=params[:page].to_i+1%>"><%=params[:page].to_i+1%></a></li>
            <li><a href="/avocados/show_all/<%=params[:page].to_i+2%>"><%=params[:page].to_i+2%></a></li>
            <li><a href="/avocados/show_all/<%=params[:page].to_i+3%>"><%=params[:page].to_i+3%></a></li>
            <li><a href="/avocados/show_all/<%=params[:page].to_i+4%>"><%=params[:page].to_i+4%></a></li>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <li><a href='/avocados/show_all/<%=params[:page].to_i-1 if params[:page].to_i > 0 %>' class='prev'>Previous</a></li>
            <li><a href='/avocados/show_all/<%=params[:page].to_i+1%>' class='next'>Next</a></li>
          </ul>
        </nav>
      </div>
      <!-- Pagination / End -->

    </div>

  </div>
</div>
</div>
</div>
